#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.body, h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.row{
  padding: 1rem 0;
}
.col {
  margin: 1rem 0;
 
}

/*loader*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Purchases*/
.button-login {
   
    width: 50%;
    background-Color: #d8f5fd;
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 5%;
}
.name-login{
  text-align: end;
}

.img-login {
  margin-top: 50px;
  height: 100px;
  width: 100px;
}

/*Product detail*/

.product-detail{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



.detail-description {
  margin-top: 50px;
}

.p-detail {
  font-size: 13px;
  text-align: justify;
}

.quantity-detail{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.btn-detail {
 height: 40px;
  width: 290px;
  background-color: darkcyan;
  border: none;
}

.mat-detail {
  width: 40px;
  height: 40px;
}

/*side purchases*/

.side-purchases {
  display: flex;
  flex-direction: row;
  
}

.title-side {
  font-size: 11px;
  margin-left: 3px;
  margin-top: 50px;
  max-width: 90px;
}

.quantity-sides {
  font-size: 16px;
  margin-top: 46px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: solid #000000ce;
}

.btn-side{
  width: 30px;
  height: 30px;
  
  margin-top: 46px;
}

.price-side {
  font-size: 16px;
  margin-left: 3px;
  margin-top: 90px;
}

.delete-side {
  width: 30px;
  height: 30px;
  margin-top: 46px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
}

.check-side{
  display:flex;
  align-items: center;
  margin-left: 30px;
}

.body-home {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.buy-home {
  position: relative;
  left: 90px;
  bottom: 80px;
}